*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}

.banner-video{
    opacity: 0.8;
}

.title{
    position: absolute;
    top: 190px;
    left: 120px;
}
.title h1{
    background: linear-gradient(to right, #f80271, #f95114, #fe04cc, #159ff5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 900;
    font-size: 60px;
}

.title h6{
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.title p{
    font-weight: 570;
    color: rgb(211, 203, 203);
}

.title h5{
    font-size: 15px;
    color: rgb(221, 255, 0);
}

.icons{
    padding-right: 50px;
}
.icons ul{
  display: flex;
  color: black;
  list-style: none;
  text-decoration: none;
}
.icons ul li {
    margin: 20px;
    background-color: white;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0 0 60px rgb(56, 252, 7);}
.icons ul li a{
   font-size: 19px;
   color: black;
   padding: 10px;
}
.icons ul li a:hover{
    color: red;
}
.icons ul li:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.play{
    position: relative;
    right: 50px;
}




@media screen and (max-width:1295px){
    .icons {
        display: none;
    }
}

@media screen and (max-width:960px){
    .title h5{
        display: none;
    }
    .icons {
        display: none;
    }
}

@media screen and (max-width:800px) {
    .title{
        position: absolute;
        top: 150px;
        left: 120px;
    }
    .title h6{
        display: none;
    }
    .title h1{
        background: linear-gradient(to right, #f80271, #f95114, #fe04cc, #159ff5);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: 800;
        font-size: 40px;
    }
    .title p {
        display: none;
    }
    .title h5{
        display: none;
    }
}














/* -----------------New Releases----------------- */

#carousel-item img {
    display: flex;
    width: 200px;
    height: 270px;
    border-radius: 20px;
    margin: 10px;
    box-shadow:0px  0px 20px rgb(238, 231, 236) ;
}

.carousel h4 {
    margin-left: 20px;
    background: linear-gradient(to right, #fc020f, #fbf9f9, #f3f3f7, #fefefd);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 700;
    
}

#carousel-items:hover {
    transform: scale(1.2);
    transition: 0.8s;
}

#carousel-item h6 {
    font-weight: 800;
    color: white;
    padding-left: 18px;
    background: linear-gradient(to right, #61bff1, #8ef161, #2ceb7f, #fefefd);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* background: linear-gradient(10deg , rgba(212 , 251 ,0 ,0.5) 0%, rgba(255 , 0 ,245 , 0.5) 100%); */
}
#carousel-items h6 {
    font-weight: 800;
    color: white;
    padding-left: 18px;
    background: linear-gradient(to right, #61bff1, #8ef161, #2ceb7f, #fefefd);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* background: linear-gradient(10deg , rgba(212 , 251 ,0 ,0.5) 0%, rgba(255 , 0 ,245 , 0.5) 100%); */
}
#carousel-items img {
    display: flex;
    width: 200px;
    height: 270px;
    border-radius: 20px;
   margin:10px;
}