.total{
    display: flex;
}
#carousel-item{
    display: flex;
}
#carousel-item img{
    width: 200px;
    height: 270px;
    margin: 10px;
}

#carousel-item:hover{
    transform: translateY(-50px);
}
