
 
    /* Navbar styling */
.logo{
  width: 85px;
  height: auto;
  margin: 16px 26px;
  border-radius: 3px;
  /* background: no-repeat; */
}

.header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .50s ease;
  background-color: transparent;
  /* z-index: 1; */
  /* box-shadow: 30px 90px 50px rgb(8, 2, 3) inset; */
  /* box-shadow: inset 0 0 1000px black; */
  /* box-shadow: inset 10px 10px 20px black; */
  /* height: 80px; */
  /* box-shadow: 100px 60px 30px 10px rgb(6, 4, 4) inset; */

}

.nav{
  display: flex;
  padding-left: 20px;
  align-items: center;
}

.nav li{
  padding: 0 2rem;
  list-style: none; 
}

.nav li a{
  font-size: 1rem;
  font-weight: 500;
  color: rgb(254, 253, 253);
   /* font-size: 1rem; */
}

 .nav-slp{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  float: right;
  transform: translate(0% ,13%);
  background: no-repeat;
 }

.togglebutton{
  cursor: pointer;
  display: none;
  z-index: 10001;
}

.hoverstyle:hover{
    background-color: aqua;
    color: black;
    padding: 10px;
    border-radius: 50px;
    transition: 0.3s;
}
.nav li a:hover{
  box-shadow: 0 , 0 ,60px rgb(248, 53, 4);

}


@media screen and (max-width:1040px){

  .header{
    padding: 14px 2%;
    transition: .2s;
  }
  .nav a{
    padding: 5px 0;
    margin: 0px 5px;
  }

}

@media (max-width: 1040px){
  .togglebutton{
    display: block;
  }

  .nav{
    position: absolute;
    top:100%;
    right: -100%;
    width: 270px;
    height: 50vh;
    background-color: rgb(3, 5, 4);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 30px;
    transition: all .50s ease;
  }

  .nav a{
    display: block;
    margin:  12px 0;
    padding: 0px 25px;
    transition: all .50s ease;
  }

  .nav a:hover{
    color: rgb(7, 8, 6);
    background-color: rgb(131, 246, 55);
    border-radius: 100px;
    height: 33px;
    transform:translateY(-7px) 
  }

  .nav.open{
    right: 2%;
  }
}

.inputfield{
  width: 38px;
  height: 38px;
  border-radius: 50px;
  border: none;
}

.inputfield:hover{
  width: 300px;
  transition: 0.3s;
}

.inputfield:focus, .inputfield:active{
  outline: none;
}

.searchbox input::placeholder,
.searchbox input
{
  text-align: center;
  color: transparent;
}

.searchbox:hover input::placeholder,
.searchbox:hover input
{
  color: rgb(12, 8, 8);
}

.searchcicon{
  position: absolute;
  top: 29px;
  color: black;
  left: 57px;
}

.signin{
  position: relative;
  top: 5px;
  background-color: red;
  padding: 7px;
  border-radius: 8px;
}

.signin:hover{
  opacity: 0.8;
}





/* -----------Home Page Styles------------- */


/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif
} */
/* .maindiv{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #cfd1e1;
  overflow: hidden;

} */
/* .searchbox{
  position: relative;
  width: 0px;
  height: 0px;
  border-radius: 60px;
  display:flex;
  justify-content:center;
  align-items:center;
  transition: 0.5s;
}
.searchbox:hover{
   width: 400px;
}
input{
  border-radius: 30px;
  height: 40px;
  display: none;
}

.searchbox::before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 2px;
  height: 80%;
  background:linear-gradient(#fff,#fff,#e3e3e3);
  z-index: 1;
  filter: blur(1px);

} */
/* .searchbox::after{
  content: '';
  position: absolute;
  top:0;
  right: -1px;
  width: 10px;
  height: 100%;
  background:transparent;
  z-index: 1;
  filter: blur(1px);
} */
/* .shadow{
  position:absolute;
  top: 0;
  left: 50px;
  width:calc(100% + 50px);
  height: 300px;
  background:linear-gradient(180deg,rgba(0,0,0,0.1),
  transparent,transparent);
  transform-origin: top;
  transform: skew(45deg);
  pointer-events: none;  
} */
/* .shadow::before
{
  content: '';
  position:absolute;
  width: 50px;
  height: 50px;
  background:#cfd1e1;
  z-index: 1;
}
.searchbox input{
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px 25px;
  outline: none;
  font-size: 1.1em;
  color: #555;
  background: linear-gradient(#dbdae1,#a3aaba);
  box-shadow: 5px 5px 5px rgba(0,0, 0,0.1),
  15px 15px 15px rgba(0,0, 0,0.1),
  20px 20px 15px rgba(0,0, 0,0.1),
  30px 30px 15px rgba(0,0, 0,0.1),
  inset 1px 1px 2px #fff;
}
.searchbox input::placeholder,
.searchbox input
{
  color: transparent;
}

.searchbox:hover input::placeholder,
.searchbox:hover input
{
  color: #555;
}

.icon{
  position: absolute;
  right: 40px;
  color: #555;
  font-size: 1.5em;
  cursor: pointer;
} */